<! DOCTYPE html>
<html>
<head>
	<title>AngularJS from Scratch</title>
	<link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/5.2.1/css/foundation.min.css">
	<script type="text/javascript" src="main.js"></script>
</head>
<body>

	<div ng-app="">

		<!-- putting data. before message (or any word.) in the root binds it to anything else in that app that uses data.message, even if it's in a controller, so it's global across the app.  message only would make it connecting only within its own scope (specific controller or root). without the root ng-model="data.message", first and second controllers do not bind.

		so when it's connected, we can take a changing variable and do different things with it in controllers without having to send updates to those controllers manually. -->

		<input type="text" ng-model="data.message">
		<h1>{{data.message + " no controller (root)"}}</h1>

		<input type="text" ng-model="data.message">
		<h1>{{data.message + " second root"}}</h1>

		<div ng-controller="FirstCtrl">
			<input type="text" ng-model="data.message">
			<!-- h1 just shows whats being printed -->
			<h1>{{data.message + " first controller"}}</h1>
		</div>
		
		<div ng-controller="SecondCtrl">
			<input type="text" ng-model="data.message">
			<h1>{{data.message + " second controller"}}</h1>
		</div>

	</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" ></script>
</body>
</html>